<%- include("../../partials/header.ejs")%>
<%- include("../../partials/navbar.ejs")%>
<div class="container">
    <hr>
    <h3>Artigos</h3>
    <a class="btn btn-primary" href="/admin/articles/new">Novo Artigo</a>
    <hr>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
           <% articles.forEach(articles => { %>
            <tr>
                <td><%= articles.id %></td>
                <td><%= articles.title %></td>
                <td><%= articles.slug %></td>
                <td><%= articles.category.title %></td>
                <td>
                    <form method="post" action="/articles/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="delete_id" value="<%= articles.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
            <% })%>
        </tbody>
    </table>
</div>
<%- include("../../partials/footer.ejs")%>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você deseja deletar o Artigo ?");
        if(decision){
           form.submit();
        }
    }
</script>