<%- include("../../partials/header.ejs")%>
<%- include("../../partials/navbar.ejs")%>
<div class="container">
    <hr>
    <h3>Categorias</h3>
    <a class="btn btn-primary" href="/admins/categories/new">Nova Categoria</a>
    <hr>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <td><%= category.id %></td>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                        <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="delete_id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include("../../partials/footer.ejs")%>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Você deseja deletar categoria ?");
        if(decision){
           form.submit();
        }
    }
</script>